.sin-acceso-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  padding: 20px;
  color: var(--color-title);
}

.sin-acceso-container h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.sin-acceso-container p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: var(--color-subtitle);
}

.sin-acceso-container button {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.sin-acceso-container button:hover {
  background-color: darkblue;
}